body {
  margin: 0;
  padding: 0;
  background-image: url("back-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
header {
  width: 100%;
  background-size: cover;
  background-position: center;
}
.load {
  animation: slide 2s;
}
.slider {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  animation: slide 40s infinite;
}
.content {
  color: #fff;
  width: 100%;
  height: 1900px;
  background-color: rgba(0, 0, 0, 0.5);
}

@keyframes slide {
  0% {
    background-image: url("image1.jpg");
    left: 0px;
  }
  20% {
    background-image: url("image3.jpg");

    left: -1500px;
  }
  40% {
    background-image: url("image.jpg");
    left: 3000px;
  }
  60% {
    background-image: url("image1.jpg");
    left: -3000px;
  }
}
ul {
  float: right;
  margin-right: 100px;
  list-style-type: none;
  margin-top: 30px;
}
ul li {
  display: inline-block;
}
ul li a {
  text-decoration: none;
  color: #fff;
  padding: 15px 45px;
  border: none;
  transition: 0.6;
  font-size: 20px;
  display: block;
}
ul li a:hover {
  color: #fff;
  text-decoration: underline;
}
ul li .active a {
  color: #000;
}
.logo {
  font-family: Freestyle Script;
  font-size: 50px;
  text-decoration: underline;
  color: #fff;
  padding: 15px 45px;
  margin-top: 30px;
  margin-left: 200px;
  float: left;
  height: auto;
}
.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Freestyle Script";
}
.title h1 {
  color: #fff;
  font-size: 90px;
  text-align: center;
}
.title p {
  color: #fff;
  font-size: 50px;
  text-align: center;
}
.intro {
  width: 100%;
  padding: 20px 0px 72px 0px;
  background-color: #fff;
  background-size: cover;
  clear: both;
  float: left;
}
.intro .heading h3 {
  font-size: 50px;
  line-height: 35px;
  margin-bottom: 10px;
  letter-spacing: 0.05px;
  text-align: left;
  margin-left: 500px;
  color: #000;
}
.intro .heading p {
  width: 50%;
  line-height: 25px;
  margin: 0 auto;
  text-align: center;
  margin-left: 200px;
  color: rgb(0, 0, 0);
}

.pic {
  height: 230px;
  width: 200px;
  position: absolute;
  bottom: -35%;
  right: 10%;
  transform: translateX(-70%);
  border-radius: 50%;
  border: 1px darkslategray solid;
  background-color: gray;
}
.info {
  width: 100%;
  height: fit-content;
  color: #fff;
}
.topic {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: oblique;
  font-size: 35px;
}
.menu-bar {
  font-size: px;
}

.left-side {
  text-align: left;
  margin-left: 200px;
  width: 500px;
}
.right-side {
  text-align: right;
  margin-right: 100px;
  width: 500px;
  margin-left: 900px;
  margin-top: -700px;
}
.topic2 {
  font-size: 30px;
}
.topic2:hover {
  font-size: 150%;
}
.topic3 {
  font-size: 20px;
}
.topic3:hover {
  font-size: 120%;
}
.para {
  font-size: 15px;
}
.para:hover {
  font-size: 110%;
}
.footer {
  background-color: black;
  color: #fff;
}
